.hero {
  left: 0;

  overflow: hidden;

  width: 100%;
  margin: 0;
  padding-top: 285px;

  background-color: #eff6ff;
}

.container {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0 16px;
}

.heroBody {
  position: relative;
  margin: 0;
  padding-bottom: 390px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 649px;
  margin: 0;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.welcomeText {
  overflow: hidden;

  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #ff9140;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.welcomeText::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 840px;

  width: 587px;
  height: 587px;
  border-radius: 100%;

  opacity: 0.18;
  background-color: #4583f7;
  filter: blur(135.95px);
}

.mainText {
  margin: 0;

  font-family: var(--fm-serif-pro);
  font-size: 76px;
  font-weight: 600;
  line-height: 1.1;
  color: #142349;
  text-transform: capitalize;
  letter-spacing: -0.04em;
}

.blueText {
  color: #3366ff;
}

.description {
  max-width: 535px;
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #142349;
  letter-spacing: 0%;
}

.description::after {
  content: "";

  position: absolute;
  top: 239px;
  left: -260px;

  width: 517px;
  height: 517px;
  border-radius: 100%;

  opacity: 0.12;
  background-color: #45cdf7;
  filter: blur(135.95px);
}

.buttons {
  position: relative;
  top: 67.97px;

  display: flex;
  gap: 30px;

  max-width: 416px;
  margin: 0;
  padding: 0;
}

.contactUs {
  box-shadow: 1px 10px 12px #3177e13d;
}

.playButton {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}

.watchText {
  font-size: 15px;
  font-weight: var(--fm-dm-sans);
  font-weight: 500;
  line-height: 1;
  color: #142349;
  text-transform: capitalize;
  letter-spacing: 0.06em;
}

.contentRight {
  position: absolute;
  top: 0px;
  left: 90%;
  overflow: hidden;
}
