.aboutUs {
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.aboutUscontainer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 120px 16px 0 16px;
}

.aboutUssectionBody {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.contentLeft {
  position: relative;

  align-items: center;

  max-width: 491px;
  margin: 0;
  padding: 60px 55px 30px 46px;
}

.aboutUsgradient {
  position: relative;
  z-index: -4;

  align-items: center;

  min-width: 391px;
  height: 434px;
  border-radius: 16px;

  background-color: #3366ff;
}

.aboutUsimage {
  position: absolute;
  z-index: -1;
  bottom: 0px;

  align-self: center;

  margin: 0;
  padding: 0 35.26px 0 30px;
}

.contentLeft::after {
  content: "";

  position: absolute;
  z-index: -3;
  top: 60px;
  left: 0;

  width: 474.84px;
  height: 463px;
  border-radius: 50%;

  opacity: 0.04;
  background-color: #d9d9d9;
}

.imageCard {
  position: absolute;
  top: 225px;
  left: -42px;

  display: flex;
  flex-direction: column;

  max-width: 135px;
  padding: 7px 14px 11px 30px;
  border-radius: 5px;

  background-color: #ffffff;
  box-shadow: 0px 4px 11.3px rgba(0, 0, 0, 0.15);
}

.imageIcon {
  position: absolute;
  top: -1px;
  left: -25px;
}

.imageDoctorName {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  color: #142349;
  text-transform: capitalize;
}

.imageDoctorProff {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 9px;
  font-weight: 300;
  line-height: 11px;
  color: #142349;
}

.imageTrustedCard {
  position: relative;
  top: 283px;
  left: 290px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  max-width: 137px;
  padding: 12px 0 12px 12px;
  border-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 11.3px rgba(0, 0, 0, 0.11);
}

.imageTrustedCard::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;

  border-radius: 16px;

  background: rgba(235, 170, 96, 0.2);
}

.trustedCardAvatars {
  position: relative;
  display: flex;
  align-items: center;
}

.trustedCardAvatar {
  z-index: 2;

  width: 28.15px;
  height: 28.15px;
  margin-left: -11px;
  border: 3px solid #e4f0fc;
  border-radius: 50%;

  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.trustedCardAvatar:first-child {
  margin-left: 0;
}

.more {
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30.54px;
  height: 30.54px;
  margin-left: -12px;
  border-radius: 50%;

  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  text-align: center;

  background-color: #ff8a00;
}

.imageTrustedCard::after {
  content: "";

  position: absolute;
  top: -500px;
  left: -612px;

  width: 517px;
  height: 517px;
  border-radius: 100%;

  opacity: 0.2;
  background-color: #45cdf7;
  filter: blur(271.9px);
}

.textBlock {
  display: flex;
  flex-direction: column;
}

.textBlockLabel {
  display: flex;
  align-items: center;

  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 12px;
  font-weight: 400;
  color: #142349;
  text-align: center;
}

.textBlockCount {
  display: flex;
  align-items: center;

  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #ff9140;
}

.contentRight {
  position: relative;
  left: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 608px;
  padding-top: 60px;
  padding-bottom: 44px;
}

.contentRight::after {
  content: "";

  position: absolute;
  z-index: -3;
  top: 102px;
  left: -554px;

  width: 401.18px;
  height: 389.34px;
  border-radius: 50%;

  opacity: 0.07;
  background-color: #d9d9d9;
}

.contentRight::before {
  content: "";

  position: absolute;
  z-index: -3;
  top: 148px;
  left: -510px;

  width: 317px;
  height: 306px;
  border-radius: 50%;

  opacity: 0.11;
  background-color: #d9d9d9;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.headingMain {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #ff9140;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.headingMainText {
  margin: 0;

  font-family: var(--fm-serif-pro);
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  color: #142349;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.blueText {
  color: #3366ff;
}

.headingDescription {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #142349;
  letter-spacing: 0;
}

.contentItems {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px 0px;

  margin: 0;
  padding-top: 20px;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #142349;
  letter-spacing: 0;
}

.wordWithIcon {
  display: inline-flex;
  gap: 8px;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.aboutUsReadMorelink {
  display: flex;
  align-items: center;
  padding-top: 22px;
}

.readMore {
  display: flex;
  gap: 16px;
  align-items: center;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  color: #5c85ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@media (min-width: 670px) and (max-width: 900px) {
  .aboutUssectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 769px;
    margin: 0;
    padding: 0 72px;
  }

  .headingMainText {
    font-size: 37px;
  }

  .contentRight {
    padding-top: 100px;
  }

  .aboutUsReadMorelink {
    display: flex;
    align-items: center;
    padding-top: 36px;
  }
}

@media (max-width: 670px) {
  .aboutUscontainer {
    overflow: hidden;
  }
  .aboutUssectionBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 769px;
    margin: 0;
    padding: 0 16px;
  }

  .headingMainText {
    font-size: 37px;
  }

  .contentRight {
    padding-top: 125px;
  }

  .aboutUsReadMorelink {
    display: flex;
    align-items: center;
    padding-top: 36px;
  }

  .contentItems {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
  }

  .contentLeft {
    padding: 30px 20px 15px 20px;
  }

  .aboutUsgradient {
    min-width: 330px;
    height: 369px;
  }

  .aboutUsimage {
    width: 80%;
    padding: 0 15px 0 15px;
  }

  .imageCard {
    top: 140px;
    left: -25px;
    max-width: 100px;
    padding: 5px 10px 8px 20px;
  }

  .imageIcon {
    top: 3px;
    left: -49px;
    width: 100%;
    height: 100%;
  }

  .imageDoctorName {
    font-size: 10px;
    line-height: 15px;
  }

  .imageDoctorProff {
    font-size: 7px;
    line-height: 9px;
  }

  .imageTrustedCard {
    top: 180px;
    left: 250px;
    max-width: 100px;
    padding: 8px 0 8px 8px;
    gap: 8px;
  }

  .trustedCardAvatar {
    width: 20px;
    height: 20px;
    margin-left: -6px;
    border: 2px solid #e4f0fc;
  }

  .more {
    width: 22px;
    height: 22px;
    margin-left: -8px;
    font-size: 14px;
    line-height: 22px;
  }

  .textBlockLabel {
    font-size: 10px;
  }

  .textBlockCount {
    font-size: 14px;
    line-height: 24px;
  }

  .imageTrustedCard::after {
    top: -300px;
    left: -400px;
    width: 300px;
    height: 300px;
    filter: blur(150px);
  }

  .contentLeft::after,
  .contentRight::after,
  .contentRight::before {
    display: none;
  }
}
