.aboutUs {
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  padding-top: 120px;
}

.sectionBody {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.contentLeft {
  padding: 60px 55px 30px 46px;
  max-width: 491px;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.gradient {
  position: relative;
  min-width: 391px;
  height: 434px;
  align-items: center;
  border-radius: 16px;
  background-color: #3366ff;
  z-index: -8;
}

.imageDec {
  align-self: center;
  padding: 0 35.26px 0 30px;
  margin: 0;
  position: absolute;
  bottom: 0px;
  z-index: -2;
}

.contentLeft::after {
  content: "";
  left: 0;
  top: 60px;
  width: 474.84px;
  height: 463px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.04;
  background-color: #d9d9d9;
  z-index: -6;
}

.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 225px;
  left: -42px;
  max-width: 135px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 7px 14px 11px 30px;
}

.icon {
  position: absolute;
  top: -1px;
  left: -25px;
}

.name {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  font-family: var(--fm-dm-sans);
  color: #142349;
  text-transform: capitalize;
  margin: 0;
}

.proff {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  color: #142349;
  font-family: var(--fm-dm-sans);
  margin: 0;
}

.trustedCard {
  padding: 12px 0 12px 12px;
  max-width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  left: 290px;
  top: 283px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 11.3px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.trustedCard::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border-radius: 16px;
  background: rgba(235, 170, 96, 0.2);
  z-index: -1;
}

.avatars {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 28.15px;
  height: 28.15px;
  border-radius: 50%;
  border: 3px solid #e4f0fc;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: -11px;
  z-index: 2;
}

.avatar:first-child {
  margin-left: 0;
}

.more {
  width: 30.54px;
  height: 30.54px;
  border-radius: 50%;
  background-color: #ff8a00;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 28px;
  margin-left: -12px;
  z-index: 2;
}

.textBlock {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #142349;
  margin: 0;
}

.count {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ff9140;
  margin: 0;
}

.contentRight {
  max-width: 608px;
  padding-top: 60px;
  padding-bottom: 44px;
  position: relative;
  left: 102px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentRight::after {
  content: "";
  left: -554px;
  top: 102px;
  width: 401.18px;
  height: 389.34px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.07;
  background-color: #d9d9d9;
  z-index: -3;
}

.contentRight::before {
  content: "";
  left: -510px;
  top: 148px;
  width: 317px;
  height: 306px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.11;
  background-color: #d9d9d9;
  z-index: -4;
}

.heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main {
  margin: 0;
  color: #ff9140;
  font-family: var(--fm-plus-jakarta-sans);
  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.mainText {
  margin: 0;
  font-family: var(--fm-serif-pro);
  font-size: 46px;
  font-weight: 600;
  color: #142349;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.blueText {
  color: #3366ff;
}
.description {
  font-family: var(--fm-dm-sans);
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: #142349;
  letter-spacing: 0;
  margin: 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px 0px;
  font-family: var(--fm-dm-sans);
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #142349;
  letter-spacing: 0;
  padding-top: 20px;
  margin: 0;
}

.wordWithIcon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.link {
  display: flex;
  gap: 16px;
  padding-top: 22px;
  align-items: center;
}

.readMore {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #5c85ff;
  text-decoration: none;
}
