.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 306px;
  margin: auto;
  padding: 59px 33px 20px 22px;
  border-radius: 12px;

  text-align: left;

  background: #ffffff;
  box-shadow: 0px 0px 25.9px rgba(14, 41, 81, 0.02);
}

.card:nth-child(odd) {
  margin-top: 55px;
}

.cardContent {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  max-width: 251px;
}

.avatar {
  position: absolute;
  top: -35px;
  left: 10px;
  object-fit: cover;
}

.stars {
  display: flex;
  gap: 4px;
  font-size: 18px;
  color: #ff9140;
}

.description {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: #142349;
  letter-spacing: 0.02em;
}

.patientsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #3366ff;
}

.role {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #7688b6;
}
