.nav {
  position: absolute;
  top: 80px;
  left: 0;

  width: 100%;
  padding-top: 30px;

  background-color: #eff6ff;
}

.navContainer {
  padding: 0 16px;
  border-radius: 52px;
  background-color: #c7f0fd;
}

.navBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 52px;
}

.navElements {
  display: flex;
  gap: 54px;

  max-width: 684px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navLink {
  font-family: var(--fm-plus-jakarta-sans);
  font-size: 15px;
  color: #142349;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.navLink:hover {
  color: #3366ff;
}

.navSearchWrapper {
  position: relative;
  display: flex;
  max-width: 304px;
}

.navSearchInput {
  position: relative;

  width: 304px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  border: none;
  border-radius: 82px;

  font-size: 15px;
  font-weight: 300;
  line-height: 1;

  background: #ffffff;
}

.navSearchInput::placeholder {
  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  color: #a0b3e5;
}

.navSearchButton {
  cursor: pointer;

  position: absolute;
  top: 5px;
  right: 6px;

  padding: 4px 7px;
  border: none;
  border-radius: 50px;

  background-color: #3366ff;
}

@media (min-width: 480px) and (max-width: 770px) {
  .nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

@media (min-width: 955px) and (max-width: 1234px) {
  .navElements {
    display: flex;
    gap: 30px;
  }

  .navSearchWrapper {
    position: relative;
    display: flex;
    max-width: 270px;
  }

  .navSearchInput {
    position: relative;

    width: 304px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 18px;
    border: none;
    border-radius: 82px;

    font-size: 15px;
    font-weight: 300;
    line-height: 1;

    background: #ffffff;
  }
}

@media (min-width: 770px) and (max-width: 955px) {
  .navElements {
    display: flex;
    gap: 20px;
  }

  .navSearchWrapper {
    position: relative;
    display: flex;
    max-width: 270px;
  }
  .navBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
  }

  .navSearchInput {
    position: relative;

    width: 200px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 18px;
    border: none;
    border-radius: 82px;

    font-size: 15px;
    font-weight: 300;
    line-height: 1;

    background: #ffffff;
  }
}
