.partnerSection {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 120px 16px 0 16px;
}

.sectionBody {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  max-width: 1200px;
}

.partnerHeading {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ff9140;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.partnerLogos {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.partnerMarqueeItem {
  padding: 0 20px;
}
