:root {
  --fm-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --fm-dm-sans: "DM Sans", sans-serif;
  --fm-montserrat: "Montserrat", sans-serif;
  --fm-serif-pro: "Source Serif Pro", serif;
}

body {
  justify-content: center;
  margin: 0;
  font-family: var(--fm-plus-jakarta-sans);
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c2d1ff;

  background-color: #eff6ff;
}

.container {
  padding: 16px 16px 15px 16px;
}

.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.headerBurger {
  display: flex;
  align-items: center;
  gap: 38px;
}

.headerLogo {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.headerLocation {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  max-width: 195px;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.headerContactPhone {
  display: flex;
  gap: 12px;
  align-items: center;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.headerLocationMean,
.headerPhoneNumber {
  display: flex;

  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #142349;
  letter-spacing: 0.02em;
}

.headerContacts {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.headerAppointmentButton {
  width: 100%;
  max-width: 186px;
}

.navSearchWrapper {
  position: relative;
  max-width: 304px;
}

.navSearchInput {
  position: relative;

  width: 100%;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  border: none;
  border-radius: 82px;

  font-size: 15px;
  font-weight: 300;
  line-height: 1;

  background: #ffffff;
}

.navSearchInput::placeholder {
  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  color: #a0b3e5;
}

.navSearchButton {
  cursor: pointer;

  position: absolute;
  top: 5px;
  right: 6px;

  padding: 4px 7px;
  border: none;
  border-radius: 50px;

  background-color: #3366ff;
}

@media screen and (min-width: 769px) {
  .navSearchWrapper {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 770px) {
  .headerContacts {
    display: none;
  }

  .container {
    padding: 16px 72px 15px 72px;
  }

  .headerLogo img {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 141px;
    height: 37px;
  }
}

@media (max-width: 480px) {
  .headerContacts {
    display: none;
  }
  .container {
    padding: 16px 32px 15px 32px;
  }
  .headerLogo img {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 109px;
    height: 28px;
  }

  .headerBurger {
    display: flex;
    gap: 25px;
  }
}

@media (max-width: 320px) {
  body {
    display: none;
  }
}
