:root {
  --fm-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --fm-dm-sans: "DM Sans", sans-serif;
  --fm-montserrat: "Montserrat", sans-serif;
  --fm-serif-pro: "Source Serif Pro", serif;
}

body {
  justify-content: center;
  margin: 0;
  font-family: var(--fm-plus-jakarta-sans);
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c2d1ff;

  background-color: #eff6ff;
}

.container {
  padding: 16px 16px 15px 16px;
}

.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.logo {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.location {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  max-width: 195px;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.phone {
  display: flex;
  gap: 12px;
  align-items: center;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.locationMean,
.phoneNumber {
  display: flex;

  margin: 0;
  
  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #142349;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.appointment {
  width: 100%;
  max-width: 186px;
}