:root {
  --fm-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --fm-dm-sans: "DM Sans", sans-serif;
  --fm-montserrat: "Montserrat", sans-serif;
  --fm-serif-pro: "Source Serif Pro", serif;

  position: relative;
}

body {
  justify-content: center;
  margin: 0;
  font-family: var(--fm-plus-jakarta-sans);
}

* {
  margin: 0px;
  padding: 0px;
}
