.dentists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.dentistsContainer {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding: 120px 16px 0 16px;
  overflow: hidden;
}

.sectionBody {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  padding: 0;
  overflow: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  max-width: 616px;
  margin: 0 auto;
}

.headingMain {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ff9140;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.headingMainText {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 0;

  font-family: var(--fm-serif-pro);
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  color: #142349;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.blueText {
  color: #3366ff;
}

.sliderBox {
  min-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 770px) {
  .dentistsContainer {
    padding: 120px 76px 0 76px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .sectionBody {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .sliderBox {
    width: 100%;
    overflow: hidden;
  }

  .headingMainText {
    font-size: 37px;
  }
}

@media (max-width: 480px) {
  .dentistsContainer {
    padding: 139px 32px 0 32px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .sectionBody {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .sliderBox {
    width: 100%;
    overflow: hidden;
  }

  .headingMainText {
    font-size: 37px;
  }
}
