.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #c7f0fd;
}

.footerContainer {
  margin: 0 auto;
  padding: 60px 120px 58px 120px;
}

.footerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
}

.footerOffer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;
  max-width: 1200px;
  margin: 0;
}

.footerLogo {
  max-width: 163px;
}

.socialItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footerSearchWrapper {
  position: relative;
}

.footerSearchInput {
  position: relative;

  width: 289px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  border: none;
  border-radius: 82px;

  font-size: 15px;
  font-weight: 300;
  line-height: 1;

  background: #ffffff;
}

.footerSearchInput::placeholder {
  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  color: #a0b3e5;
}

.footerSearchButton {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 20px;
  left: 245px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 33px;
  padding: 0;
  border: 1px solid #5c85ff;
  border-radius: 50%;

  background-color: #ffffff;
}

.footerSearchButton::after {
  content: "";

  transform: rotate(225deg);

  display: inline-block;

  width: 8px;
  height: 8px;
  border-bottom: 2px solid #5c85ff;
  border-left: 2px solid #5c85ff;
}

.horizontalLine {
  width: 1200px;
  margin-top: 40px;
  border: 1px solid rgb(194, 209, 255);
  color: #c2d1ff;
}

.footerBottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 30px;
}

.workingHours {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 360px;
  padding-top: 20px;
}

.workingHoursText {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  color: #142349;
}

.workDays {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.workDaysRow {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3366ff;
}

.dayMean {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #5c85ff;
  letter-spacing: 0.02em;
}

.timeMean {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #5c85ff;
  letter-spacing: 0.02em;
}

.footerBottomLeft {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 2px solid #c2d1ff;
}

.footerNav {
  display: flex;
  gap: 40px;
  justify-content: space-between;

  padding-top: 20px;
  padding-left: 50px;
}

.footerNavGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 105px;
  margin: 0;
}

.footerNavTitle {
  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #142349;
}

.footerNavLink {
  cursor: pointer;

  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #142349;
  letter-spacing: 0.02em;

  transition: color 0.2s ease;
}

.footerNavLink:hover {
  color: #0033cc;
}

.footerBottomText {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #142349;
  letter-spacing: 0.02em;
}
