.serviceCard:first-child {
  grid-column: span 3;
  padding: 30px 53px 26px 30px;
  border-radius: 15px;
  background-color: #fff;
}

.serviceCard:nth-child(2) {
  grid-column: span 3;
  padding: 30px 53px 26px 30px;
  border-radius: 15px;
  background-color: #fff;
}

.serviceCard {
  grid-column: span 2;
  padding: 30px 53px 26px 30px;
  border-radius: 15px;
  background-color: #fff;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardTextArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.serviceName {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #142349;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.serviceDescrip {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #142349;
  letter-spacing: 0;
}

.serviceLink {
  display: flex;
  gap: 6px;
  align-items: center;

  max-width: 139px;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #5c85ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media (min-width: 480px) and (max-width: 770px) {
  .serviceCard:first-child {
    grid-column: span 4;
    padding: 30px 65px 26px 30px;
  }

  .serviceCard:nth-child(2) {
    grid-column: span 2;
    padding: 30px 33px 30px 30px;
  }

  .serviceCard {
    grid-column: span 2;
    padding: 30px 33px 30px 30px;
  }

  .serviceCard:first-child .serviceName {
    font-size: 19px;
  }

  .serviceName {
    font-size: 15px;
  }

  .serviceCard:first-child .serviceDescrip {
    font-size: 19px;
  }

  .serviceDescrip {
    font-size: 15px;
    line-height: 1.7;
  }
  .secondSpan {
    display: none;
  }
}

@media (max-width: 480px) {
  .serviceCard:first-child {
    grid-column: span 4;
    padding: 30px 33px 26px 30px;
  }

  .serviceCard:nth-child(2) {
    grid-column: span 4;
    padding: 30px 33px 30px 30px;
  }

  .serviceCard {
    grid-column: span 4;
    padding: 30px 33px 30px 30px;
  }

  .serviceCard:first-child .serviceName {
    font-size: 19px;
  }

  .serviceName {
    font-size: 19px;
  }

  .serviceCard:first-child .serviceDescrip {
    font-size: 19px;
  }

  .serviceDescrip {
    font-size: 19px;
  }
  .secondSpan {
    display: none;
  }
}
