.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 306px;
  background: #ffffff;
  box-shadow: 0px 0px 25.9px rgba(14, 41, 81, 0.02);
  border-radius: 12px;
  padding: 56px 24px 24px;
  text-align: left;
  margin: auto;
  gap: 20px;
}

.card:nth-child(odd) {
  margin-top: 30px;
}

.avatar {
  position: absolute;
  top: -32px;
  left: 15px;
  object-fit: cover;
}

.stars {
  display: flex;
  gap: 4px;
  color: #ff9140;
  font-size: 18px;
}

.description {
  font-family: var(--fm-dm-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #142349;
  margin: 0;
}

.patientsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-family: var(--fm-dm-sans);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3366ff;
  margin: 0;
}

.role {
  font-family: var(--fm-dm-sans);
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #7688b6;
  margin: 0;
}
