.serviceList {
  position: absolute;
  justify-content: center;
}

.container {
  max-width: 1320px;
  padding-top: 120px;
}

.serviceBody {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;

  padding: 100px 60px 100px 60px;
  border-radius: 25px;

  background-color: #eff6ff;
  box-shadow: 0 0 4px rgb(153, 178, 214);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  max-width: 491px;
  margin: 0 auto;
}

.main {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ff9140;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 0;

  font-family: var(--fm-serif-pro);
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  color: #142349;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.blueText {
  color: #3366ff;
}

.gridCards {
  display: grid;
  grid-auto-rows: 333px;
  grid-template-columns: repeat(6, 166px);
  gap: 40px;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
}

.cardTop {
  grid-column: span 3;
  padding: 30px 53px 26px 30px;
  border-radius: 15px;
  background-color: #fff;
}

.cardBottom {
  grid-column: span 2;
  padding: 30px 53px 26px 30px;
  border-radius: 15px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.serviceName {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #142349;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.serviceDescrip {
  margin: 0;

  font-family: var(--fm-dm-sans);
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #142349;
  letter-spacing: 0;
}

.serviceLink {
  display: flex;
  gap: 6px;
  align-items: center;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #5c85ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  max-width: 139px;
}
