.serviceList {
  display: flex;
  justify-content: center;
}

.serviceContainer {
  max-width: 1320px;
  margin: 0;
  padding: 120px 16px 0 16px;
}

.serviceBody {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;

  padding: 100px 60px 100px 60px;
  border-radius: 25px;

  background-color: #eff6ff;
  box-shadow: 0 0 4px rgb(153, 178, 214);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  max-width: 491px;
  margin: 0 auto;
}

.headingMain {
  margin: 0;

  font-family: var(--fm-plus-jakarta-sans);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ff9140;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.headingMainText {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 0;

  font-family: var(--fm-serif-pro);
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  color: #142349;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.blueText {
  color: #3366ff;
}

.serviceGridCards {
  display: grid;
  grid-auto-rows: minmax(333px, auto);
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 770px) {
  .serviceContainer {
    max-width: 689px;
    margin: 0;
    padding: 120px 16px 0 16px;
  }

  .serviceBody {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;

    padding: 100px 32px 100px 32px;
  }
  .headingMainText {
    font-size: 37px;
  }

  .serviceGridCards {
    grid-auto-rows: minmax(312px, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 53px;
  }
}

@media (max-width: 480px) {
  .serviceContainer {
    max-width: 689px;
    margin: 0;
    padding: 120px 16px 0 16px;
  }

  .serviceBody {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;

    padding: 100px 12px 100px 12px;
  }
  .headingMainText {
    font-size: 37px;
  }

  .serviceGridCards {
    grid-auto-rows: minmax(312px, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
